/*
CSCI 3725 Computational Creativity
M7 Poetry Slam

This is the styling file used by index.html which includes placement, colors,
fonts, etc.

Authors: Lily Huynh
Last Updated: November 26, 2024

Bugs:
- No known bugs at the moment
*/

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Indie+Flower&family=Lexend+Deca:wght@100..900&display=swap");

:root {
    --black: #1A1A1D;
    --maroon: #3B1C32;
    --dark-pink: #6A1E55;
    --pink: #A64D79;
    --white: #ffffff;
    --heading: "Lexend Deca", sans-serif;
    --text: "Indie Flower", cursive;
}

* {
    cursor: none;
}

body {
    background-color: var(--black);
    padding: 20px;
}

.title-card {
    color: var(--white);
    text-align: center;
    font-weight: 400px;
}

.title-heading {
    font-family: var(--heading);
    font-size: 45px;
}

.title-text {
    font-family: var(--text);
    font-size: 20px;
}

.center {
    margin: auto;
    width: 100%;
}

/* Button from Josh W Comeau */
.generate-btn-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 300px;
}

.generate-btn-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.generate-btn-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            var(--pink) 0%,
            var(--dark-pink) 8%,
            var(--maroon) 92%,
            var(--maroon) 100%);
}

.generate-btn-front {
    font-family: var(--heading);
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    background: var(--pink);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .generate-btn-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.generate-btn-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.generate-btn-pushable:hover .generate-btn-front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.generate-btn-pushable:active .generate-btn-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.generate-btn-pushable:hover .generate-btn-shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.generate-btn-pushable:active .generate-btn-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.generate-btn-pushable:focus:not(:focus-visible) {
    outline: none;
}

.generated-container {
    height: 500px;
    background-color: var(--white);
    width: 95%;
    border-radius: 20px;
    padding: 10px;
}

#poem-generation {
    font-size: 20px;
    font-family: var(--text);
    color: var(--pink);
    font-weight: 400px;
}

#cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    border-top: 5px solid var(--dark-pink);
    border-left: 5px solid var(--dark-pink);
    transform-origin: top;
    transform: translate(-1px, 5px) rotate(15deg) scale(0);
    transition: transform 0.1s;
    pointer-events: none;
    filter:
        drop-shadow(0 0 5px var(--dark-pink))
        drop-shadow(0 0 15px var(--dark-pink))
        drop-shadow(0 0 35px var(--dark-pink))
        hue-rotate(60deg);
}

#cursor::before {
    content: "";
    position: absolute;
    left: -2.5px;
    width: 5px;
    height: 20px;
    background: var(--dark-pink);
    transform-origin: top;
    transform: rotate(315deg);
}

body:hover #cursor {
    transform: translate(-1px, 5px) rotate(15deg) scale(1);
}

.element {
    position: absolute;
    color: var(--dark-pink);
    font-size: 10px;
    transform: (-50%, -50%);
    pointer-events: none;
    width: 5px;
    height: 5px;
    transition: 4s;
    filter:
        drop-shadow(0 0 5px var(--dark-pink))
        drop-shadow(0 0 25px var(--dark-pink))
        hue-rotate(60deg);
    font-family: var(--heading);
}