<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jabberwock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="title-card center">
        <h1 class="title-heading">Welcome to Jabberwock Poetry Generation</h1>
        <p class="title-text">
            Click to generate an acrostic poem based on a randomly chosen topic
        </p>
        <br>
        <button class="generate-btn-pushable center" role="button" id="generatePoem">
            <span class="generate-btn-shadow"></span>
            <span class="generate-btn-edge"></span>
            <span class="generate-btn-front text">
                Generate Your Poem!
            </span>
        </button>
    </div>
    <br>
    <br>
    <div class="generated-container center">
        <span id="poem-generation">
        </span>
    </div>
    <div id="cursor"></div>
    <script src="{{ url_for('static', filename='text-to-screen-and-speech.js') }}"></script>
    <script src="{{ url_for('static', filename='mousehover-effect.js') }}"></script>
</body>
</html>